[submodule "ffts"]
	path = ffts
	url = https://github.com/xdaimon/ffts.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "SimpleFileWatcher"]
	path = SimpleFileWatcher
	url = https://github.com/xdaimon/SimpleFileWatcher.git
