.vs

build

libs/ffts/*
libs/rapidjson/*
libs/SimpleFileWatcher/*

tests/Debug
tests/x64

x64

misc

\.vscode/

*.exe

*.wav

src/shaders/shadertoy

Release/

src/shaders/scratch/

src/shaders/myInversionThing/

src/shaders/myVolumeKiffs/

src/shaders/scraps/ptrace/

src/shaders/scraps/scratch/

src/shaders/scraps/scratch2/

src/shaders/crop_circles/

src/shaders/conformal_map/

src/shaders/my_path_trace/

src/shaders/pathbackup/
